<section>
    <h1>Listado de pizzas</h1>
    <ul>
        {{#each pizzas}}
        <li>{{this.nombre}}</li>
        <p>{{this.tam}}</p>
        <p>{{this.cantidad}}</p>
        {{/each}}
    </ul>
    {{#if hasPrevPage}}
    <a href="/pizzas?page={{prevPage}}">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="/pizzas?page={{nextPage}}">Siguiente</a>
    {{/if}}
    <p>Pagina {{ currentPage }} de {{totalPage}}</p>
</section>